@font-face {
  font-family: "Ivymode";
  src: url("/src/assets/fonts/Ivymode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Brown";
  src: url("/src/assets/fonts/BrownMedium-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrownLight";
  src: url("/src/assets/fonts/BrownLight-Regular.ttf") format("truetype");
}
html,
body {
  overflow-y: scroll; 
  height: 100vh;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: none;
  display: none;
}
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.leaflet-popup-content {
  margin: 10px !important;
}
