
.fontIvy,.scheduledHeading {
    font-family:'IvyMode',sans-serif;
}

.fontBrownLight,.scheduleContent{
    font-family: 'BrownLight';
}

.scheduledSection{
    padding:1.5rem 0rem;
    /* overflow: auto; */
}
.scheduledHeading{
    font-size: 1.7rem;
    padding-bottom: 1rem;
}
.scheduleContent{
    font-size: 0.8rem;
    font-weight: 200;
    padding-bottom: 2.3rem;
    letter-spacing: 0.4px;
}
.scheduledCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: max-content;
    gap: 15px;
    overflow: auto !important;
    /* transform: translate(-25vw); */
}
.ratingcards{
    padding: 1.5rem 0;
}
.ratingcard{
    display: flex;
    flex-direction: row;
    gap:15px;
    width: max-content;
    overflow: auto;
}
.RecommendCards{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: max-content;
}