.profileEditing {
  margin: 1rem 0;
  width: 50vw;
  margin: 3rem;
  padding: 3rem;
  margin: 0 auto;
  background-color: white;
}

.ProfileSection {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.profileFormLeft {
  display: flex;
  flex-direction: column;
}
.profileFormRight {
  display: flex;
  flex-direction: column;
}
.profilePicture {
  width: 8rem;
  height: 8rem;
  border: 1px solid black;
  border-radius: 0.6rem;
}
.profilePicture img {
  border-radius: 0.6rem;
  width: 100%;
  height: 100%;
}
.editProfilePic{
  position:relative;
  width: 8rem;
  height: 8rem;
  border-radius: 0.6rem;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  pointer-events: none; 
}

.form {
}
.formValue {
  margin-bottom: 1rem;
}
.formValue input {
  padding: 0.3rem;
  width: 20rem;
  height: 2rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(105, 105, 105, 0.444);
}
.formQuestion {
  color: rgba(105, 105, 105, 0.924);
  font-size: 0.6rem;
  font-family: "Brown";
  padding-bottom: 0.6rem;
  letter-spacing: 0.4px;
}

.formImages {
  width: 100%;
}

.formImages img {
  width: 5rem; 
  height: auto;
  border-radius: 0.6rem;
  /* padding: 0.3rem; */
  margin: 0.3rem;
  display: block;
}

.overlay {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 5rem;
  height: 91%;
  border-radius: 0.6rem;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  pointer-events: none; 
}


.saveButton{
  width: 6rem;
  height:3rem;
  padding: 0.5rem;
  background-color: rgba(255,62,91,255);
  color: rgba(255, 255, 255, 0.85);
  border: none;
  font-size: 1rem;
  font-family: 'Brown';
  border-radius: 0.3rem;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.cancelButton{
  width: 6rem;
  height:3rem;
  padding: 0.5rem;
  background-color: white;
  color: rgba(91, 91, 91, 0.79);
  border: 1px solid rgba(92, 92, 92, 0.715);
  font-size: 1rem;
  font-family: 'Brown';
  border-radius: 0.3rem;
}