.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.completion {
  font-size: 0.7rem;
  /* margin-bottom: 1rem; */
  text-align: right;
  padding-bottom: 0.5rem;
}

/* The overall section is divided into two columns */
.imageSection {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Adjust ratio if needed */
  gap: 1rem;
}

/* The fourImages container becomes a 2x2 grid */
.fourImages {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  height:20vh;
}

/* Optional: Ensure images fill their grid cells */
.fourImages img,
.bigImage img {
  width: 100%;
  object-fit: cover;
}
.bigImage img{
  height:calc(70vh + 0.5rem);
}
.fourImages img{
  height: 35vh;
}
.bigImage img{
  /* width: calc(100% + 0.5rem); */
}


/* Style for the big image container */
.bigImage {
  /* You can center or adjust the big image as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.5rem;
}


.section{
  padding: 0rem 1rem 1rem 1rem;
}