.headingCntent {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  font-family: "Brown";
  font-size: 0.8rem;
  color: rgb(93, 93, 93);
}
.headingstars {
  display: flex;
  flex-direction: row;
}
.cardStars {
  color: red;
}
.headingReviews {
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(93, 93, 93);
}
.completion {
  padding: 0.2rem;
  /* margin-right: 1rem; */
  font-family: "BrownLight";
  font-weight: 600;
  font-size: 0.6rem;
  text-align: right;
}
.imageSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem; /* Increase gap to add more space between the fourImages and bigImage containers */
}

.fourImages {
  width: calc(49% - 0.5rem);

  display: flex;
  flex-direction: column;
  gap: 0.3rem; /* Added gap for vertical spacing between the two .twoImages rows */
  justify-content: space-around;
  align-items: center;
}

.twoImages {
  width: 43vw;
  height: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0.3rem; /* Added gap for horizontal spacing between images in the row */
}

.twoImages img {
  width: calc(50%); /* Adjust width to prevent overflow */
  height: 100%;
}

.bigImage {
  width: calc(50% - 0.5rem);
  height: 40vw;
  margin-left: 1rem !important;
}

.bigImage img {
  width: 100%; /* Adjust width to prevent overflow */
  height: 100%;
}

.userReviews {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: max-content;
  overflow: auto;
}

.contentDescriptionDetails {
  display: flex;
  flex-direction: column;
}
.DescriptionDetail {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin-bottom: 1rem;
}
.DescriptionDetailIcon {
  font-size: 1.3rem;
  font-weight: 500;
  color: rgb(93, 93, 93);
  margin-right: 0.8rem;
  width: 1rem;
}
.DescriptionDetailIcon img {
  width: 1rem;
  height: 1rem;
}
h3,
p {
  margin: 0;
}

.DescriptionDetailText {
  font-family: "BrownLight";
  font-size: 0.8rem;
}

.DescriptionDetailText h3 {
  font-weight: 574;
  color: rgb(25, 25, 25);
  font-family: "Brown";
  margin-bottom: 0.4rem;
}
