@import url("./variables.css");

.fontIvy,
.cardHeading {
  font-family: "Ivymode";
}
.fontBrownLight,
.cardValues,
.cardDescription,
.cardDetail,
.cardSuggestions,
.cardScheduled {
  font-family: "BrownLight";
}

.colorChange,
.cardValues,
.cardDescription,
.cardDetail {
  color: var(--primary-text-color);
}

.card {
  height: var(--horizontal-card-height);
  width: var(--horizonatal-card-width);
  border-radius: var(--border-radius-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  border: 1px solid black;
}

.cardPoster {
  --poster-width: 38.5%;
  position: relative;
  height: 100%;
  padding-right: 2.87%;
}
.imageData {
  padding-right: 0.5rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0.8rem;
  width: 5rem;
}
.imageData img {
  width: 100%;
}

.cardPoster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardHeading {
  font-size: var(--font-size-heading-small);
  padding-bottom: 1%;
  padding-top: 4px;
}

.cardStars {
  display: flex;
  flex-direction: row;
  color: red;
  font-size: var(--font-size-medium);
  /* padding-bottom: 5px; */
  justify-content: center;
}

.cardValues {
  font-size: var(--font-size-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
  /* justify-content: center; */
}

.cardDescription {
  width: calc(0.55 * 38vw);
  padding-top: 3%;
  padding-bottom: 7%;
  font-size: var(--font-size-medium);
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: calc(100 - var(--poster-width));
  padding-right: 2.87%;
  /* padding: calc(0.25 * var(--card-height)) 0; */
}

.stars {
  display: flex;
  flex-direction: row;
}

.cardDetails {
  padding-bottom: 7%;
}
.cardDetail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2%;
}
.cardDetail span {
  letter-spacing: var(--letter-spacing-medium);
  font-size: var(--font-size-small);
}

.cardSuggestions {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-small);
  width: 70%;

  /* padding: 0 5px 8px 5px; */
}
.cardSuggestions span {
  font-family: "BrownLight";
  letter-spacing: var(--letter-spacing-small);
  flex-wrap: nowrap;
}
.cardSuggestions img {
  height: 11.327px;
  padding-right: 3%;
}
.cardScheduled {
  font-weight: 500;
  font-size: var(--font-size-small);
  font-family: "Brown";
}
.suggest {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
