.fontIvy,
.cardHeading {
  font-family: "Ivymode";
}
.fontBrownLight,
.cardValues,
.cardDescription,
.cardDetail,
.cardSuggestions,
.cardScheduled {
  font-family: "BrownLight";
}

.colorChange, .cardValues,.cardDescription,.cardDetail{
  color: rgba(34, 34, 34, 0.979);
}

.card {
  --card-height: 17.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--card-height);
  width: 38vw;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 0.6vw;
}

.cardPoster {
  --poster-width:38.5%;
  position: relative;
  height: 100%;
  padding-right: 2.87%;
}
.imageData{
  padding-right: 0.5rem;
  position: absolute;
  bottom: 0.2rem;
  right:0.8rem;
  width: 5rem;
}
.imageData img{
  width: 100%;
}

.cardPoster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardHeading {
  font-size: 1.2rem;
  padding-bottom: 8px;
  padding-top: 4px;
}

.cardStars {
  display: flex;
  flex-direction: row;
  color: red;
  font-size: 0.8rem;
  /* padding-bottom: 5px; */
  justify-content: center;
}

.cardValues {
  font-size: 0.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
  /* justify-content: center; */
}

.cardDescription{
  width: calc(0.55 * 38vw);
  padding-top: 3%;
  padding-bottom: 7%;
  font-size: 0.75rem;
}

.cardContent {
  display: flex;
  flex-direction: column;
  width: calc( 100 - var(--poster-width) );
  padding-right: 2.87%;
  /* padding: calc(0.25 * var(--card-height)) 0; */
}

.stars {
  display: flex;
  flex-direction: row;
}

.cardDetails {
  padding-bottom: 10px;
}
.cardDetail{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 3%;
}
.cardDetail span{
  letter-spacing: 0.8px;
  font-size: 0.65rem;
}

.cardSuggestions {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.6rem;
  width: 70%;

  /* padding: 0 5px 8px 5px; */
}
.cardSuggestions span{
  font-family: 'BrownLight';
  letter-spacing: 0.6px;
  flex-wrap: nowrap;
}
.cardSuggestions img {
  height: 11.327px;
  padding-right:3%;
}
.cardScheduled {
  font-weight: 500;
  font-size: 0.6rem;
  font-family: 'Brown';
}
.suggest {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
