.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    z-index: 1000;
  }
  
  .modalContent {
    position: relative;
    background: transparent;
    width: 60vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
  
  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: white;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
  }
  
  .swiperContainer {
    width: 100%;
    height: auto;
    background: transparent;
  }
  
  .image {
    width: 60vw;
    /* max-width: 100%; */
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


  /* Change navigation arrow color */
:root {
    --swiper-navigation-color: white;
    --swiper-pagination-color: white;
  }
  
  /* Customize navigation arrows */
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--swiper-navigation-color) !important;
  }
  
  /* Customize pagination dots */
  .swiper-pagination-bullet {
    background: var(--swiper-pagination-color) !important;
  }
  
  /* Active pagination dot */
  .swiper-pagination-bullet-active {
    background: #ff0000 !important; /* Active dot color */
  }
  