.modalImage {
  /* width: fit-content; */
  height: 100%;
}
.modalImage img {
  width: 8rem;
  height: 8rem;
}

.modalContent {
  width: 8rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.6rem;
  justify-content: center;
  /* margin-left: -0.4rem;   */
}

.modalContent k {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Brown";
}
.date {
  font-family: "BrownLight";
  font-size: 0.8rem;
}
.time {
  width: 7rem;
  font-family: "Brown";
  font-weight: 600;
  font-size: 0.6rem;
  /* letter-spacing: 0.4px; */
  padding-bottom: 8px;
}
.review {
  font-family: "Brown";
  font-size: 0.7rem;
}
.popup{
  margin:0 !important;
}