.modalImage {
  width: 30%;
}
.modalImage img {
  width: 100%;
  height: 100%;
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.5rem;
  justify-content: center;
}

.modalContent p {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
  font-family: "Brown";
}
.date {
  font-family: "BrownLight";
  font-size: 0.8rem;
}
.time {
  font-family: "Brown";
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.6px;
  padding-bottom: 8px;
}
.review {
  font-family: "Brown";
  font-size: 0.7rem;
}
.popup{
  margin:0 !important;
}