@font-face {
  font-family: "Brown";
  src: url("/src/assets/fonts/BrownMedium-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.NavbarItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.NavbarLogo {
  display: flex;
  justify-content: flex-start;
  height: 4vw;
}
.NavbarOptions {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  font-family: "Brown", sans-serif;
  font-size: 0.6rem;
  line-height: 1.458rem;
  gap: 1.5rem;
  padding: 10px 0px;
  margin: 0 !important;
}

.NavbarOptions li a {
  text-decoration: none;
  color: black;
}
.NavbarOptions li.activeD {
  color: #ff385c;
  /* margin-bottom: 0 !important; */
  border-bottom: 1px solid #ff385c;
  padding-bottom: 7px;
}

.NavbarOptions li.activeD a {
  text-decoration: none;
  color: #ff385c;
}
.NavbarOptions li {
  padding: 8px 0;
}
.NavItems {
  display: flex;
  flex-direction: row;
}
.NavbarProfile {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  font-family: "Brown", sans-serif;
  font-size: 0.8rem;
  line-height: 1.458rem;
  padding-inline-start: 3rem !important;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
}
