
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    z-index: 1000;
  }
  
  .modalContainer {
    background-color: #fff;
    width: 400px;
    max-width: 90%;
    padding: 2rem;
    border-radius: 8px;
  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .title {
    margin-top: 0;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    color: rgba(51, 51, 51, 0.81)323;
    font-family: 'IvyMode';
  }
  
  .message {
    margin-bottom: 1.5rem;
    color: rgba(51, 51, 51, 0.81)323;
    font-family: 'Brown';
  }
  
  .buttonRow {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: left;
  }
  
  .confirmButton {
    font-family: 'BrownLight';
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton {
    font-family: 'BrownLight';
    background: none;
    border: none;
    color: #000;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-weight: 500;
  }
  
  .confirmButton:hover,
  .cancelButton:hover {
    opacity: 0.8;
  }
  