.Review{
    border: 1.5px solid rgb(95, 95, 95);
    width: 19.89vw;
    /* height: 17.7vw; */
    border-radius: 1rem;
    padding: 1rem;
}
.reviewHeader{
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: left;
}

.userProfilePic img{
    width: 2.2rem;
}

.reviewHeader img{
    margin-right:1rem ;
}
.userDetails{
    display: flex;
    flex-direction: column;
}
.userDetails h4{
    font-weight: 550;
    font-family: 'Brown';
    margin: 0;
    color: rgb(16, 16, 16);
}

.userDetails div{ 
    font-size: 0.8rem;
} 
.reviewContent{
    line-height: 1.2rem;
    padding:0.8rem 0;
    font-size:0.8rem
}
.reviewStars span{
    font-size: 0.8rem;
    margin-left: 0.6rem ;
}
.readMore{
    margin-top: 0.8rem;
}
.readMore a{
    font-size: 0.8rem;
 color: black;
}


.userDetails div,.reviewContent,.readMore a, .reviewStars span{
    font-family: 'BrownLight';
    color: rgb(95, 95, 95);
}


